html,
body {
  height: 100%;
  text-size-adjust: 100%;
}

#__next {
  height: 100%;
}


body {
  font-family: var(--roboto-font);
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;
  color: $primary;

  &:hover {
    outline: none;
    color: $secondary;
  }
}